<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Username</th>
      <th>Highscore</th>
    </tr>
  </thead>
  <tbody>
    <% @stats.each do |stat| %>
      <% if stat.user == current_user %>
        <tr>
          <td><%= link_to stat.user_name, stat %></td>
          <td><%= stat.highscore %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
